#header{
  background-color: black;
  color:white;
  text-align: Center;
  font-size: 350%;
  
}

body{
  background-image: url("https://goo.gl/5f4Zmj");
}
p {
  background-color:black;
  color:white;
  text-align: center;
  font-size: 150%;
}
